# App Settings
SECRET_KEY=supersecretkeyChangeThisInProduction
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Database
MONGO_URI=mongodb://localhost:27017
DB_NAME=voting_platform_ai

# Google OAuth
GOOGLE_CLIENT_ID=946758825536-88fqfarqupq5sn58f6q24d1e0rg3dltu.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/callback/google

# LinkedIn OAuth
LINKEDIN_CLIENT_ID=867acq0l2qpgw4
LINKEDIN_CLIENT_SECRET=WPL_AP1.n2uyuMHgNQ0bB4lD.tn1R3A==
LINKEDIN_REDIRECT_URI=http://localhost:8000/auth/callback/linkedin
